

{% extends "learning_logs/base.html" %}


{% block content %}
<div class="container-fluid bgcolor">
		  <div class="row content">
			  <div class="col-xs-6 col-xs-offset-4 ">
				  {% load static %}
				  <img src="{% static "text.png" %}" class="img-responsive">
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-xs-1 col-xs-offset-5 ">
				  {% load static %}
				  <img src="{% static "click.png" %}" class="img-responsive">
			  </div>
			  <div class="col-xs-1 clickpart ">
				  <a href="https://flock-log.herokuapp.com/topics" target="_blank">
					  {% load static %}
					  <img src="{% static "topics.png" %}" class="img-responsive"></a>
			  </div>
		  </div>
	  </div>
{% endblock content %}


